.productList {
  list-style: none;
  padding-left: 0;
}

.productItem {
  background-color: rgb(238, 237, 237);
  border-radius: 5px;
  padding: 0.75em;
  margin-bottom: 1em;
}

.buttonWrapper {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.buttonWrapper img {
  width: 15px;
  height: 15px;
}
