.variantWrapper {
  border: 1px solid #fbe300;
  padding: 1.5rem 1em 0.75em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.variantTitle {
  margin-bottom: 1em;
}

.buttonWrapper {
  text-align: left;
}

.addButton {
  display: block;
  margin-top: 2rem;
  cursor: pointer;
}
