@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

:root {
  --color-primary: #7ae2f0;
  --color-primary-text: #003147;
  --color-secondary: #121258;
  --color-accent-dark: #fc3c17;
  --color-accent-light: #fc5130;

  --accentColor: #0a2540;
  --blendBackground: #80e9ff;
  --blendIntersection: #0048e5;
  --blendForeground: #7a73ff;

  --shadeOneColor: #02bcf5;
  --shadeTwoColor: #0073e6;
  --shadeThreeColor: #003ab9;
  --shadeFourColor: #635bff;
  --shadeFiveColor: #002c59;
  --shadeSixColor: #09cbcb;

  --backgroundColor: #f6f9fc;

  --linkColor: var(--accentColor);
  --linkHoverColor: #0a2540;

  --buttonColor: var(--accentColor);
  --buttonHoverColor: #0a2540;
  --buttonDisabledColor: #cfd7df;

  --knockoutColor: #fff;
  --knockoutDisabledColor: #8898aa;

  --guideSolidColor: rgba(66, 71, 112, 0.06);
  --guideDashedColor: rgba(66, 71, 112, 0.09);
  --titleColor: #0a2540;

  --textColor: #425466;
  --inputBackground: #e6ebf1;
  --inputPlaceholderColor: #8898aa;
  --annotationColor: #8c9eb1;

  --maskFadeColor: rgba(0, 0, 0, 0.4);

  --navColor: #0a2540;
  --navHoverColor: #0a2540;
  --navHoverOpacity: 0.6;

  --footerColor: #0a2540;
  --footerBackgroundColor: #8c9eb1;

  --cardBorderColor: #cbd6e0;
  --cardBackground: #fff;
  --subcardBackground: #f6f9fc;
  --tableIconColor: #8c9eb1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--color-primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.two-columns {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 75% 25%;
}

.main-heading {
  text-align: center;
  margin: 6rem 0 3rem;
  font-size: 2rem;
  color: var(--textColor);
}

/* select field */

select {
  width: 100%;
  margin: 0;
  margin-top: 1em;
  outline: 0;
  border: 1px solid #fbe300;
  border-radius: 10px;
  padding: 15.5px 20px;
  -webkit-appearance: none;
  -moz-appearance: window;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: block;
  height: 51px;
  padding-left: 10px;
  font-weight: 300;
  overflow: hidden;
  background-position: 95% 60%;
  font-size: 0.9em;
  color: #9da3a8;
  background: url(/icons/downArrow.svg) no-repeat white;
  background-size: 15px;
  background-position: 97.5% 50%;
}

select::-ms-expand {
  display: none;
}

select:focus,
select:active {
  border: 1px solid #27be94;
}

/* end select */
