.card {
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
  .card {
    max-width: 500px;
    padding: 1em;
  }
}

.cardWrapper {
  display: block;
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 15px;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .cardWrapper {
    grid-template-columns: 25% 1fr;
  }
}

.imageWrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  max-width: 100%;
}

.content {
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: 400;
  font-size: 1em;
  text-align: left;
}

.innerWrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.price {
  text-align: center;
  display: block;
  color: darkorange;
  margin-top: 0.5em;
  font-size: 1.25em;
}

@media screen and (min-width: 800px) {
  .price {
    text-align: left;
  }
}

.moreIconWrapper {
  width: 20px;
  height: 20px;
  margin-right: 1em;
  cursor: pointer;
}

.moreIconWrapper img {
  max-width: 100%;
}

.description {
  font-weight: 300;
  font-size: 0.8em;
}

.link {
  font-size: 0.65em;
  color: var(--textColor);
}

.variantsWrapper {
  list-style: none;
  padding: 0;
}

.separator {
  border-top: 1px solid #ededed;
  margin: 1em 0;
}

.regPrice {
  margin-right: 1em;
  font-weight: 300;
  position: relative;
}

.regPrice::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  right: 5px;
  height: 2px;
  background-color: darkorange;
  transform: rotate(45deg);
}

.regPrice::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  right: 5px;
  height: 2px;
  background-color: darkorange;
  transform: rotate(-45deg);
}
